<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Database Hub</title>
    <link rel="stylesheet" href="./static/libs/iview@3.1.5/iview.css">
    <link rel="stylesheet" href="./static/styles/login.css">
</head>
<body>
<div id="app" class="page">
    <div id="particles" class="bg"></div>
    <main>
        <div class="login">
            <h1 class="title">Login - Database Hub</h1>
            <p class="slogan">
                Open the door towards the new world.
            </p>
            <i-form action="javascript:;">
                <form-item>
                    <i-input type="text" placeholder="Username" v-model="form.model.username"></i-input>
                </form-item>
                <form-item>
                    <i-input type="password" placeholder="Password" v-model="form.model.password"></i-input>
                </form-item>
                <form-item>
                    <i-button type="primary" html-type="submit" size="long"
                              @click="login"
                              :loading="loginApiRequesting">Sign in</i-button>
                </form-item>
            </i-form>
        </div>
    </main>
    <footer>
        <p class="copyright text-center">Leqee业务工作平台由产品技术部维护与更新 &copy; 2018</p>
        <p class="text-center">本系统仅支持 Chrome 浏览器 62 版本及以上，下载地址下载地址：
            <a href="http://www.leqeewechat.com/vainity/chrome/ChromeStandaloneSetup64_68_64bit.exe">64位</a>
            <a href="http://www.leqeewechat.com/vainity/chrome/ChromeStandaloneSetup-68-32bit.exe">32位</a>
        </p>
    </footer>
</div>
<!--Libs-->
<script src="./static/libs/axios@0.18.0/axios.min.js"></script>
<script src="./static/libs/js-cookie@2.2.0/js.cookie.js"></script>
<script src="./static/libs/vue@2.5.17/vue.min.js"></script>
<script src="./static/libs/vue-router@3.0.2/vue-router.min.js"></script>
<script src="./static/libs/iview@3.1.5/iview.min.js"></script>
<script src="./static/libs/particles@2.0.0/particles.min.js"></script>
<script src="//www.everstray.com/cdn/QuickFrontend/SinriQF/dist/SinriQF-1.0.js"></script>

<!--Config-->
<script src="./static/config/api.js"></script>

<!--Plugins-->
<script src="./static/plugins/ajax.js"></script>
<script>
new Vue({
    el: '#app',
    data () {
        return {
            form: {
                model: {
                    username: '',
                    password: ''
                }
            },
            loginApiRequesting: false
        }
    },
    methods: {
        login () {
            const data = JSON.parse(JSON.stringify(this.form.model))

            this.loginApiRequesting = true;

            ajax('login', data).then(({session}) => {
                SinriQF.cookies.setCookie(SinriQF.config.TokenName, session.token, session.expire);
                SinriQF.cookies.setCookie('DatabaseHubUser', session.user, session.expire);

                const targetHref = localStorage.getItem('target_href') || 'index.html';

                localStorage.setItem('target_href', '');
                window.location.href = targetHref;
                this.loginApiRequesting = false;
            }).catch(({message}) => {
                SinriQF.iview.showErrorMessage(message, 5);
                this.loginApiRequesting = false;
            })
        }
    },
    mounted () {
        SinriQF.config.TokenName = 'database_hub_token';
        SinriQF.config.vueInstance = this;
        particlesJS.load('particles', './static/libs/particles@2.0.0/particles.json')
    }
});
</script>
</body>
</html>
