.ivu-menu > .ivu-menu-item-selected,
.ivu-menu > .ivu-menu-child-item-active {
    background: rgb(91, 100, 120);
}

[v-cloak] {
    display: none !important;
}

.auto-size-code-mirror .CodeMirror {
    height: auto;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex-item {
    flex: 1;
}

.layout {
    padding: 15px 20px;
    background-color: #fff;
}

.layout-list-search-bar {
    padding: 10px 0;
}
.layout-list-handle-bar {
    /*padding: 10px 0;*/
}
.layout-list-table {
    padding: 10px 0;
}
.layout-list-pagination {
    padding: 10px 0;
}

.layout-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.layout-drawer-header {
    padding: 14px 16px;
    border-bottom: 1px solid #e8eaec;
}
.layout-drawer-body {
    flex: 1;
    overflow: auto;
    padding: 16px;
}

.layout-drawer-footer {
    padding: 14px 16px;
    border-top: 1px solid #e8eaec;
}

.filter-btn-group .ivu-tooltip + .ivu-tooltip,
.btn-group button + button {
    margin-left: 5px;
}

.c-avatar {
    display: inline-block;
    text-align: center;
    font-size: 13px;
}
.c-avatar-text {
    border-radius: 50%;
    color: #fff;
    background-color: #4da9eb;
}
.c-avatar-username {
    overflow: hidden;
    display: inline-block;
    margin: 2px auto 0;
    max-width: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
}

.c-status {
    display: inline-block;
    margin: 0 5px;
    width: 9px;
    height: 9px;
    border: 1px solid #eee;
    border-radius: 50%;
}
.c-status.NORMAL {
    background-color: rgba(25, 190, 107, .9);
    box-shadow: 0 0 8px rgb(25, 190, 10);
}
.c-status.DISABLED {
    background-color: rgba(187, 190, 196, .9);
    box-shadow: 0 0 8px rgb(187, 190, 196);
}

.c-native-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #e8eaec;
    border-right: 0;
    border-bottom: 0;
}
.c-native-table th,
.c-native-table td {
    word-break: break-all;
    border-right: 1px solid #e8eaec;
    border-bottom: 1px solid #e8eaec;
    vertical-align: middle;
}
.c-native-table tbody tr:hover td {
    background-color: #ebf7ff;
}
.c-native-table .c-native-table-tips:hover {
    background-color: #fff;
}

.c-native-table th {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    height: 40px;
    text-align: left;
    white-space: nowrap;
    background-color: #f8f8f9;
}
.c-native-table td {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    height: 48px;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    background-color: #fff;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.text-ellipsis-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.pre-line {
    white-space: pre-line;
}

/* for query-notepads-drawer */
.c-query-notepads-drawer .ivu-select-item,
.c-query-notepads-drawer-content .ivu-select-item,
.notepad-list .notepad-list-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-query-notepads-drawer .ivu-select-item {
    max-width: 400px;
}
.c-query-notepads-drawer-content .ivu-select-item {
    max-width: 560px;
}
.c-query-notepads-drawer-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
}
.c-query-notepads-drawer-header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}
.c-query-notepads-drawer-content-body {
    overflow: auto;
    flex: auto;
    padding: 20px;
}
.c-query-notepads-drawer-content-body .notepads-search {
    position: sticky;
    top: -20px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.c-query-notepads-drawer-content-body .search-input {
    width: 240px;
}
.c-query-notepads-drawer-content-body .notepad-list {
    margin-top: 20px;
    list-style: none;
}
.c-query-notepads-drawer-content-body .notepad-list li {
    display: flex;
    padding: 0 10px;
    height: 46px;
    align-items: center;
    border-top: 1px solid #efefef;
}
.c-query-notepads-drawer-content-body .notepad-list li:hover {
    background-color: #e8e8e8;
}
.c-query-notepads-drawer-content-body .notepad-list .notepad-list-item-title {
    flex: auto;
    margin-right: 10px;
}
.c-query-notepads-drawer-content-body .notepad-list button + button {
    margin-left: 4px;
}
.c-query-notepads-drawer-content-footer {
    display: flex;
    flex-shrink: 0;
    padding: 10px 16px;
    justify-content: center;
    border-top: 1px solid #e8e8e8;
}
.c-query-notepads-drawer-content-footer button + button {
    margin-left: 10px;
}
