[v-cloak] {
    display: none !important;
}

.ivu-form .ivu-form-item-label {
    color: #fff;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    position: relative;
}

footer {
    z-index: 1;
    position: relative;
    padding: 20px 0;
    color: #fff;
}

.bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 2, 47, 0.35);
}

.bg:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    background: url("../assets/img/Psalm119-bg-jpeg.jpg") #fff 0/cover;
    transform: scale(1.1);
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
}
.login .title {

}
.login .slogan {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.c-scan-qr-code-login {
    text-align: center;
}

.c-scan-qr-code-login-img-wrapper {
    position: relative;
    margin: 0 auto;
    height: 245px;
}

.c-scan-qr-code-login-img-wrapper .red {
    color: #fa5b5b;
}

.c-scan-qr-code-login-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 14px;
    color: #000;
    background-color: rgba(255, 255, 255, .9);
}

.c-scan-qr-code-login-tips {
     padding: 5px 0;
     font-size: 14px;
 }

.c-scan-qr-code-login-refresh-link {
     color: #38adff;
 }
